@font-face {
  font-family: 'BPGAlgeti';
  src: url('../../fonts/web/BPGAlgeti.eot?#iefix') format('embedded-opentype'),  
  		url('../../fonts/web/BPGAlgeti.otf')  format('opentype'),
		url('../../fonts/web/BPGAlgeti.woff') format('woff'), 
		url('../../fonts/web/BPGAlgeti.ttf')  format('truetype'), 
		url('../../fonts/web/BPGAlgeti.svg#BPGAlgeti') format('svg');
  font-weight: normal;
  font-style: normal;
}

nav{ font-family: 'BPGAlgeti'; }
main{ font-family: 'BPGAlgeti'; }
.g-faq-page a{ font-family: 'BPGAlgeti' !important; }
footer{ font-family: 'BPGAlgeti'; }